*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #283048 , #859398);
    position: relative;
}
.container{
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}
.type-bar{
    height: 50px;
    width: 350px;
    outline: none;
    border: none;
    background-color:hwb(197 78% 11%) ;
    border-radius: 10px;
    color: #414762;
    padding: 0 5px;
    margin: 10px 0;
}
.type-bar::placeholder{
    color: #414762;
}
ul{
    list-style-type:none;
    padding-left: 0;
}
ul li{
    background-color: #d5ebf3;
    color: #212432;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}
ul .fa-check, ul .fa-trash {
    position: absolute;
    cursor: pointer;
}
ul .fa-check{
    right: 40px;
}
ul .fa-trash{
    right: 15px;
}
ul .fa-check:hover{
    color: #fff;
}
ul .fa-trash:hover{
    color: red;
}
ul .checked{
    background-color: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}
#time-display{
    position: absolute;
    top: 130px;
    border-radius: 150px 150px 0 0;
    background-color: #fff;
    padding: 12px;
}
